@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav ms-auto align-items-center h6 text-dark float-end" style="margin-left: 50px;">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="nav-item" style="margin-top: 10px; margin-bottom: 0px;">
        <form style="padding: 0px; margin: 0px;" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="btn btn-outline-secondary h5" style="border-width: 2px;">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item" style="margin-left: 50px;">
        <a class="btn btn-secondary" style="margin-bottom: 0px;" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
