@{
    ViewData["Title"] = "Burial Entry";
}

@model Egypt.Models.Burialmain

<div class="container">
    <div class="container">

        <div class="text-center">
            <h1 class="display-4">Add Burial Entry</h1>
        </div>

        <div class="row mt-3">

            <div class="col"></div>

            <div class="col-12 mb-5">
                <div class="card border-primary mb-3">
                    <div class="card-header">Enter details to add a burial</div>
                    <div class="card-body p-3" style="padding: 0px 100px 10px 100px;">
                        <form method="post" asp-action="BurialEntry" class="px-5">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Square North South:</label>
                                <input type="text" asp-for="Squarenorthsouth" class="form-control"  id="title" name="Squarenorthsouth">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Head Direction:</label>
                                <input type="text" asp-for="Headdirection" class="form-control"  id="title" name="Headdirection">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Sex:</label>
                                <input type="text" asp-for="Sex" class="form-control"  id="title" name="Sex">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">North South:</label>
                                <input type="text" asp-for="Northsouth" class="form-control"  id="title" name="Northsouth">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Depth:</label>
                                <input type="text" asp-for="Depth" class="form-control"  id="title" name="Depth">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">East West:</label>
                                <input type="text" asp-for="Eastwest" class="form-control"  id="title" name="Eastwest">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Adult Subadult:</label>
                                <input type="text" asp-for="Adultsubadult" class="form-control"  id="title" name="Adultsubadult">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Face Bundles:</label>
                                <input type="text" asp-for="Facebundles" class="form-control"  id="title" name="Facebundles">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">South To Head:</label>
                                <input type="text" asp-for="Southtohead" class="form-control"  id="title" name="Southtohead">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Preservation:</label>
                                <input type="text" asp-for="Preservation" class="form-control"  id="title" name="Preservation">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Field Bookpage:</label>
                                <input type="text" asp-for="Fieldbookpage" class="form-control"  id="title" name="Fieldbookpage">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Square East West:</label>
                                <input type="text" asp-for="Squareeastwest" class="form-control"  id="title" name="Squareeastwest">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Goods:</label>
                                <input type="text" asp-for="Goods" class="form-control" id="title" name="Goods">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Text:</label>
                                <input type="text" asp-for="Text" class="form-control"  id="title" name="Text">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Wrapping:</label>
                                <input type="text" asp-for="Wrapping" class="form-control"  id="title" name="Wrapping">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Hair Color:</label>
                                <input type="text" asp-for="Haircolor" class="form-control"  id="title" name="Haircolor">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">West To Head:</label>
                                <input type="text" asp-for="Westtohead" class="form-control"  id="title" name="Westtohead">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Samples Collected:</label>
                                <input type="text" asp-for="Samplescollected" class="form-control"  id="title" name="Samplescollected">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Area:</label>
                                <input type="text" asp-for="Area" class="form-control" id="title" name="Area">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Burial ID:</label>
                                <input type="number" asp-for="Burialid" class="form-control"  id="title" name="Burialid">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Length:</label>
                                <input type="text" asp-for="Length" class="form-control" id="title" name="Length">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Burial Number:</label>
                                <input type="text" asp-for="Burialnumber" class="form-control"  id="title" name="Burialnumber">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Data Expert Initials:</label>
                                <input type="text" asp-for="Dataexpertinitials" class="form-control"  id="title" name="Dataexpertinitials">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">West To Feet:</label>
                                <input type="text" asp-for="Westtofeet" class="form-control"  id="title" name="Westtofeet">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Age At Death:</label>
                                <input type="text" asp-for="Ageatdeath" class="form-control"  id="title" name="Ageatdeath">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">South To Feet:</label>
                                <input type="text" asp-for="Southtofeet" class="form-control"  id="title" name="Southtofeet">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Excavation Recorder:</label>
                                <input type="text" asp-for="Excavationrecorder" class="form-control"  id="title" name="Excavationrecorder">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Photos:</label>
                                <input type="text" asp-for="Photos" class="form-control"  id="title" name="Photos">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Hair:</label>
                                <input type="text" asp-for="Hair" class="form-control"  id="title" name="Hair">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Burial Materials:</label>
                                <input type="text" asp-for="Burialmaterials" class="form-control"  id="title" name="Burialmaterials">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Date Of Excavation:</label>
                                <input type="text" asp-for="Dateofexcavation" class="form-control"  id="title" name="Dateofexcavation">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Field Book Excavation Year:</label>
                                <input type="text" asp-for="Fieldbookexcavationyear" class="form-control"  id="title" name="Fieldbookexcavationyear">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Cluster Number:</label>
                                <input type="text" asp-for="Clusternumber" class="form-control"  id="title" name="Clusternumber">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label mt-4" for="title">Shaft Number:</label>
                                <input type="text" asp-for="Shaftnumber" class="form-control"  id="title" name="Shaftnumber">
                            </div>

                            <div class="text-center">
								<button type="submit" class="btn btn-primary">Submit Your Entry</button>
							</div>
                        </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
