@{
    ViewData["Title"] = "Application Confirmation";
}
@model Egypt.Models.Burialmain



<h2>Entry recieved. Thank you for adding a new entry. </h2>

<body>
    <meta http-equiv="refresh" content="5; url=/Home/Burials" />
</body>
