@{
    ViewData["Title"] = "Egypt";
}


<img src="~/img/desert_banner.png" style="height: 60vh; margin-top: -100px;" />
<div class="position-absolute top-50 start-50 translate-middle">
    <div class="container text-center">
        <h1 class="display-4">Welcome</h1>
        <a asp-controller="Home" asp-action="BurialEntry">Fill Out Application</a>
    </div>
</div>
