@{
    ViewData["Title"] = "Home";
}


@*<img src="~/img/egypt-ruins.png" style="width: 100%; margin-top: -200px;" />
<div class="text-center">
    <h1 class="display-4">Welcome to Fag El-Gamous</h1>
</div>*@

<!-- Hero image -->
<div class="p-5 text-center bg-image"
    style="background-image: url('img/egypt-ruins.png');
           height: 100vh; 
           background-size: cover;
           margin-top: -80px;
           margin-bottom: -16px;"
>
    <div class="mask p-3 mb-5" style="background-color: rgba(0, 0, 0, 0.2); backdrop-filter: blur(5px); border-radius: 10px; margin-top: 100px;">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h4 class="mb-3">Welcome to</h4>
                <h1 class="mb-3">Fag El-Gamous</h1>
            </div>
        </div>
    </div>
    <center>
        <div class="card text-center mt-5" style="max-width: u0vw;">
			<div class="card-header">
				<h5 class="card-title">Thanks for Joining Us!</h5>
            </div>
            <div class="card-body">
			    
                <p class="card-text">
                    On this site, you can view and edit burial data, make predictions, and view our findings based on excavated burials.
                    We have tables for burial information, textile information, and skeletal remains information for you to view. 
                    However, you will not be able to edit any of the entries in the database unless you are first authorized to do so.
                    We have a page for you to enter data, which upon submitting the form, will go to our Machine Learning model and 
                    create a prediction for what direction the burial's head would be facing. We also have a page displaying all of our findings from our
                    unsupervised machine learning model. With these findings, together, we can learn more about the long disappeared civilizations of ancient Egypt.
                </p>
                <a asp-action="Burials" class="btn btn-primary">View Burial Data</a>
            </div>
        </div>
	</center>
</div>
<!-- Hero image -->

