@{
    ViewData["Title"] = "Egypt";
}


<img src="~/img/desert_banner.png" style="height: 60vh; width: 100%; margin-top: -100px;" />
<div class="text-center">
        <h1 class="display-4">Welcome</h1>
</div>

