@{
    ViewData["Title"] = "Unsupervised Analysis Page";
}

<div class="container text-center mt-5" style="margin-top: 100px;">

    <h1>Multiple Histograms</h1>
    <h2>Overlayed, Not Stacked</h2>
    <br /><br />

    <h3>Burial Depth by Cluster</h3>
    <div class="card" style="padding: 10px;">
        <div class="card" style="padding: 10px;">
            <img src="~/img/depth_hist.png" alt="histogram of the burial depth by cluster" style="width: 70vw; height:auto;" />
            <p style="text-align:left;">
                This chart shows a multiple histogram of the burial depth grouped by cluster.
            </p>
        </div>

        <br />
        <h4>Explanation</h4>
        <div class="card" style="padding: 10px;">
            <p style="text-align:left;">
                Each cluster has around the same mean burial depth.<br />
                This indicates that time was not a strong factor in creating the clusters.<br />
                We hypothesize that burial practices stayed relatively similar over time.
            </p>
        </div>
    </div>

    <br /><br />

    <h3>Location by Cluster</h3>
    <div class="card" style="padding: 10px;">
        <div class="card" style="padding: 10px;">
            <h4>SquareNorthSouth by Cluster</h4>
            <img src="~/img/squarenorthsouth_hist.png" alt="histogram of the squarenorthsouth by cluster" style="width: 70vw; height:auto;" />
            <p style="text-align:left;">
                This chart shows a multiple histogram of the squarenorthsouth grouped by cluster.<br />
            </p>
        </div>

        <br />
        <h4>SquareEastWest by Cluster</h4>
        <div class="card" style="padding: 10px;">
            <img src="~/img/squareeastwest_hist.png" alt="histogram of the squareeastwest by cluster" style="width: 70vw; height:auto;" />
            <p style="text-align:left;">
                This chart shows a multiple histogram of the squareeastwest grouped by cluster.<br />
            </p>
        </div>

        <br />
        <h4>Explanation</h4>
        <div class="card" style="padding: 10px;">
            <p style="text-align:left;">
                The means for both location variables vary wildly from cluster to cluster.<br />
                This indicates that location was a strong factor in creating the clusters.<br />
                This means that burial practices changed from one burial plot to the next.<br />
                We hypothesize that burial practices changed from one family to the next.<br />
                This depends on the assumption that families shared burial plots among family members.
            </p>
        </div>
    </div>



</div>