@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1 style="margin-left: 100px;">@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>